QLineEdit#searchText {
	border: 1px solid gray;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-left: 0px;
	padding: 2px;
	margin: 0px;
	padding-left: 0px;
}

QLabel#searchLabel {
    border: 1px solid gray;
    border-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 4px;
    padding-right: 0px;
    margin: 0px;
    background: white;
}


