bundled/
generated/
doc/
*.gch/

*_resource.rc
*.pro.user.*
*.pro.user
*.xcodeproj
*.autosave
*.qm
*.o
*.obj
*.rpm

*.tar.gz
*.zip
*.app
*.app.dSYM
*.exe

.qmake.*
.DS_Store
Makefile
textseeker

moc_*
qrc_*
ui_*

