#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# Ensure at build time that the library has no dependencies on undefined
# symbols, and speed up loading.
LDFLAGS = $(shell dpkg-buildflags --get LDFLAGS)
CPPFLAGS = $(shell dpkg-buildflags --get CPPFLAGS)
CXXFLAGS = $(shell dpkg-buildflags --get CXXFLAGS)
CXXFLAGS += $(CPPFLAGS)

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_INSTALL_CHANGELOG_ALL := ChangeLog

%:
	dh $@

.PHONY: override_dh_auto_configure override_dh_install

override_dh_auto_configure:
	dh_auto_configure -- \
		"QMAKE_CXXFLAGS += $(CXXFLAGS)" \
		"QMAKE_LFLAGS += $(LDFLAGS)"

override_dh_install:
